{% extends "@MertTicket/Main/base.html.twig" %}

{% block title %} Open a Ticket {% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                form
            </div>
        </div>

    </div>
{% endblock %}