{% extends "MertTicketBundle:Main:base.html.twig" %}

{% block title %}Hoşgeldiniz{% endblock %}

{% block body %}

    <div class="container">

        <div class="starter-template">
            <h1>Welcome to Ticket System</h1>
            <p class="lead">You can send a ticket about your problem or anything but you need <a href="{{ path("fos_user_security_login") }}">login</a> to system first.<br> All tickets will be read by admins.</p>
        </div>

    </div><!-- /.container -->

{% endblock %}